@import "../setup";

.positive-int {
  color: if(wtr-is-number(6), green, red);
}

.negative-float {
  color: if(wtr-is-number(-456.8), green, red);
}

.zero-leading-plus {
  color: if(wtr-is-number(+0.0), green, red);
}

.trimmed-zero {
  color: if(wtr-is-number(.60), green, red);
}

.scientific-notation {
  color: if(wtr-is-number(10e3), green, red);
}

.multiple-dots {
  color: if(wtr-is-number(12.1.1), green, red);
}

.is-string {
  color: if(wtr-is-string("hello"), green, red);
}

.is-calc {
  color: if(wtr-is-calc(calc(100% - 20px)), green, red);
}

.is-percentage {
  color: if(wtr-is-percentage(12%), green, red);
  background: if(wtr-is-percentage(12), green, red);
}

.is-length {
  color: if(wtr-is-length(12px), green, red);
  background: if(wtr-is-length(12), green, red);
  display: if(wtr-is-length(0), green, red);
}

.is-size {
  color: if(wtr-is-size(12px border-box), green, red);
  background: if(wtr-is-size(invalid), green, red);
}
