/// Sets the width and height of the element.
///
/// @param {Size} $width
///   Width value. It will also be used as a height value if the latter is not specified.
///
/// @param {Size} $height
///   Optional height value.
///
/// @example scss - Usage
///   .element {
///     @include wtr-size(200px);
///   }
///
///   .other-element {
///     @include wtr-size(200px, auto)
///   }
///
/// @example css - CSS Output
///   .element {
///     width: 200px;
///     height: 200px;
///   }
///
///   .other-element {
///     width: 200px;
///     height: auto;
///   }

@mixin wtr-size($width, $height: null) {
  $width: if(wtr-is-size($width), $width, null);
  $height: if(wtr-is-size($height), $height, null);
  width: $width;
  height: if($height, $height, $width);
}
